* {
    font-family: Helvetica, Arial, sans-serif;
  }
  
  body {
    padding: 60px;
    background-color: #121212;
  }

  form {
    display: flex;
    padding-left: 80px;
    padding-right: 100px;
    height: 45px;
  }
  
  input {
    display: flex;
    flex: 1;
    background-color: white;
    border-radius: 10px;
    border: 3px solid rgba(34,193,195,1);
    color: grey;
    font-size: 20px;
    outline: none;
    padding: 10px 15px;
    height: 45px;
    width: 100%;
  }

  .header img {
    display: flex;
    margin-left: 60px;
    padding-bottom: 10px;
    height: 100%;
    width: 650px;
  }
  
  h2 {
    font-size: 1.5rem;
    color: white;
  }

  h3 {
    font-size: 2.5rem;
    color: white;
    margin-left: 80px;
    margin-top: 60px;
    margin-bottom: 15px;
  }
  
  .card-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start; 
  }
  
  .card {
    align-content: center;
    align-items: center;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
    display: flex;
    flex-direction: column;
    height: 350px; 
    width: 300px; 
    justify-content: center;
    margin-bottom: 20px;
    margin-right: 20px;
    overflow: hidden;
  }
  
  .card p {
    background-color: white;
    flex: 1;
    font-size: 1.1rem;
    margin-top: 5px;
    padding: 5px 20px 0px 20px;
    text-align: left;
 
  }
  
  .card img {
    width: 100%;
    max-height: 300px;
    min-height: 300px;
    min-width: 500px;
    max-width: 500px;
  }

  .card__inner {
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
    position: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    height: 350px;
    width: 300px; 
    justify-content: center;
    z-index: 1;
    opacity: 0;
    transition: all 0.4s ease 0s;
  }
  
  /* On hovering card opacity of
    content must be 1*/
  .card:hover .card__inner {
    opacity: 1;
  }
  
  /* General property for heading
    and paragraph*/
  .card__inner h2 {
    margin-top: 1rem;
  }
  
  .card__inner p {
    background-color: rgba(0, 0, 0, 0.9);
    height: 50%;
    padding-right: 1rem;
    font-weight: 200;
    line-height: 2.5rem;
    margin-top: 1.5rem;
  }
